<!--&lt;!&ndash; Banner Images &ndash;&gt;-->
<!--<app-horizontal-scroll [step]="screenWidth" [showArrows]="true" [smooth]="true">-->
<!--  <div class="banner-wrapper" *ngFor="let image of imageList">-->
<!--    <img [src]="image.image" alt="{{ image.id }}" class="banner-image" />-->
<!--    <div class="overlay"><h2>{{ image.id }}</h2></div>-->
<!--  </div>-->
<!--</app-horizontal-scroll>-->


<!--&lt;!&ndash; Books &ndash;&gt;-->
<!--<div class="category-title"><h1>Books</h1></div>-->
<!--<app-horizontal-scroll *ngIf="books.length > 0" [step]="260" [showArrows]="true" [smooth]="true">-->
<!--  <mat-card *ngFor="let bookDto of books" class="category-card">-->
<!--    <img mat-card-image [src]="bookDto.imageUrl" alt="{{ bookDto.categoryName }}" />-->
<!--    <mat-card-content>{{ bookDto.name }}</mat-card-content>-->
<!--    <mat-card-content style="color: #d10031">LKR {{ bookDto.price }}/=</mat-card-content>-->
<!--  </mat-card>-->
<!--</app-horizontal-scroll>-->

<!--&lt;!&ndash; Categories &ndash;&gt;-->
<!--<div class="category-title"><h1>Categories</h1></div>-->
<!--<app-horizontal-scroll *ngIf="categories.length > 0" [step]="260" [showArrows]="true" [smooth]="true">-->
<!--  <mat-card *ngFor="let category of categories" class="category-card" (click)="navigateBookList(category, 'category')">-->
<!--    <img mat-card-image [src]="category.categoryIconUrl" alt="{{ category.categoryName }}" />-->
<!--    <mat-card-content>{{ category.categoryName }}</mat-card-content>-->
<!--  </mat-card>-->
<!--</app-horizontal-scroll>-->

<!--&lt;!&ndash; Promotions &ndash;&gt;-->
<!--<div class="category-title"><h1>Promotions</h1></div>-->
<!--<app-horizontal-scroll *ngIf="promotions.length > 0" [step]="260" [showArrows]="true" [smooth]="true">-->
<!--  <mat-card *ngFor="let promo of promotions" class="promotion-card" (click)="navigateBookList(promo, 'promotion')">-->
<!--    <img mat-card-image  [src]="promo.promotionUrl" alt="{{ promo.promotionName }}" />-->
<!--    <mat-card-content>{{ promo.promotionName }}</mat-card-content>-->
<!--  </mat-card>-->
<!--</app-horizontal-scroll>-->
<!--<h1></h1>-->


<!-- Banner Images -->
<app-horizontal-scroll [step]="screenWidth" [showArrows]="true" [smooth]="true">
  <div class="banner-wrapper" *ngFor="let image of imageList">
    <img [src]="image.image" alt="{{ image.id }}" class="banner-image" />
    <div class="overlay"><h2>{{ image.id }}</h2></div>
  </div>
</app-horizontal-scroll>


<!-- Books -->
<div class="category-title"><h1>Books</h1></div>
<app-horizontal-scroll *ngIf="books.length > 0" [step]="260" [showArrows]="true" [smooth]="true">
  <mat-card *ngFor="let bookDto of books" class="category-card" (click)="openBookPopup(bookDto)">
    <img mat-card-image [src]="bookDto.imageUrl" alt="{{ bookDto.categoryName }}" />
    <mat-card-content *ngIf="bookDto.promotionEnable" style="font-size: 20px; color: #37b704" class="promotion">Promotion Available!</mat-card-content>
    <mat-card-content>{{ bookDto.name }}</mat-card-content>
    <mat-card-content style="color: #b70404" class="price">LKR {{ bookDto.price }}/=</mat-card-content>
  </mat-card>
</app-horizontal-scroll>

<!-- Categories -->
<div class="category-title"><h1>Categories</h1></div>
<app-horizontal-scroll *ngIf="categories.length > 0" [step]="260" [showArrows]="true" [smooth]="true">
  <mat-card *ngFor="let category of categories" class="category-card" (click)="navigateBookList(category, 'category')">
    <img mat-card-image [src]="category.categoryIconUrl" alt="{{ category.categoryName }}" />
    <mat-card-content>{{ category.categoryName }}</mat-card-content>
  </mat-card>
</app-horizontal-scroll>

<!-- Promotions -->
<div class="category-title"><h1>Promotions</h1></div>
<app-horizontal-scroll *ngIf="promotions.length > 0" [step]="260" [showArrows]="true" [smooth]="true">
  <mat-card *ngFor="let promo of promotions" class="promotion-card" (click)="navigateBookList(promo, 'promotion')">
    <img mat-card-image [src]="promo.promotionUrl" alt="{{ promo.promotionName }}" />
    <mat-card-content>{{ promo.promotionName }}</mat-card-content>
  </mat-card>
</app-horizontal-scroll>

<!-- Book Details Popup -->
<app-book-details *ngIf="selectedBook" [book]="selectedBook" (close)="closeBookPopup()"></app-book-details>
