.topbar[_ngcontent-ng-c1343793889] {
  color: white;
  font-size: 16px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #004080;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px;
  margin-right: 10px;
  border-radius: 20px;
}

nav a {
  color: white;
  margin-left: 15px;
  font-size: 20px;
  text-decoration: underline;
}

.auth-buttons {
  display: flex;
  align-items: center;
}

/*.user-info {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.user-logo {*/
/*  width: 30px;*/
/*  height: 30px;*/
/*  border-radius: 50%;*/
/*  margin-right: 8px;*/
/*}*/

button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;

.user-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

  .username, .email {
    font-size: 20px;
  }

  .button {
    margin-left: auto;
  }
}

.logout-button {
  background-color: #ffffff;
  color: black;
}












/*.topbar {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.logo {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.logo-img {*/
/*  height: 40px;*/
/*  margin-right: 10px;*/
/*}*/

/*.welcome-text {*/
/*  font-weight: 500;*/
/*}*/

/*.spacer {*/
/*  flex: 1 1 auto;*/
/*}*/

/*.nav-links a {*/
/*  margin: 0 5px;*/
/*  color: white;*/
/*  text-decoration: none;*/
/*}*/

/*.auth-buttons {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.user-info {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.user-logo {*/
/*  width: 35px;*/
/*  height: 35px;*/
/*  border-radius: 50%;*/
/*  margin-right: 8px;*/
/*}*/

/*.user-name {*/
/*  margin-right: 10px;*/
/*  font-weight: 500;*/
/*}*/

/*.user-email {*/
/*  margin-right: 10px;*/
/*  font-size: 14px;*/
/*}*/

